body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}



p {
  color: #8f8f8f;
}

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}


/* section */

.section-heading {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}
.colored-section{background-color: #ff4c68;
color: white;}

.white-section{background-color: #fff;}


/* conatiners */

.container-fluid {
  padding: 7% 15%;
}


/* navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}

.nav-item {
  padding: 0 18px;
  font-weight: 600;
}

.navlink {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}


/* download button */

.download-button {
  margin: 5% 3% 5% 0;
  font-weight: 600;
}


/* title */

#title {

  text-align: left;
  /* padding-bottom: 7%; */
}

#title .container-fluid{padding: 3% 15% 7%;}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}


/* feature */

#features {

  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-title {
  font-weight: 800;
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 5%;
}

.icon:hover {
  color: #ff4c68;
}


/* testimonials */

#testimonials {
  background-color: #ef8172;
  
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.carousel-item {}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
  padding: 100px;
}

.price-heading {
  font-weight: 800;
  font-size: 1.5rem;
}

.price-text {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width:1028px) {
  .title-image {
    position: static;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }
}

/* cta */

#cta {


}

/* footer */

#footer {}

.social-icon {
  margin: 20px 10px;
}
